.icon-normal {
}

.icon-blink {
    animation: icon-fades infinite 2s linear;
}

@keyframes icon-fades {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

.shades-element {
    border-style: solid;
    border-width: thin;
    border-color: darkgrey;
}

.temperature-element {
    border-style: solid;
    border-width: thin;
    border-color: darkgrey;
}

Typography.temperature-element{
    padding: 100px;
}